# Dependencies (if using npm/yarn for tooling like Sass or Prettier)
node_modules/
.pnp
.pnp.js

# Production / Build outputs (if using bundle tools like Vite, Webpack, or Parcel)
dist/
build/
out/

# Environment secrets (API keys, private tokens)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System temporary files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# IDEs and Code Editors configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Logs and test coverage
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
.nyc_output